.countries {
  color: blueviolet;
}

.card-footer {
  color: blue;
  font-weight: 700;
}

.please {
  font-weight: 700;
}

.cities {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 0.5rem; */
}
